<br>
<h4>Welcome!</h4>
<p>This Module 2 project was created by Lee Hopper at the Turning School of Software and Design.</p>
<p>Learning goals included:</p>
<ul>
  <li>Build out CRUD functionality for a many to many relationship</li>
  <li>Use ActiveRecord to write queries that join multiple tables of data together</li>
  <li>Use MVC to organize code effectively, limiting the amount of logic included in views and controllers</li>
  <li>Validate models and handle sad paths for invalid data input</li>
  <li>Use flash messages to give feedback to the user</li>
  <li>Use partials in views</li>
  <li>Use within blocks in tests</li>
  <li>Track user stories using GitHub Projects</li>
  <li>Deploy an application to Heroku</li>
</ul>
<br>
<p><b>Database Design:</b></p>

<%=image_tag("db_design.png", height: '750', width: '750', alt: "Database Design")%>
