<h1><%= @attributes.name %></h1>
<p><b>Location: </b><%= @attributes.city %></p>

<section>
  <h3>Statistics</h3>
  <% if @adoptable_average_age > 0 %>
    <p><b>Average Age of Adoptable Pets: </b><%= @adoptable_average_age %></p>
  <% else %>
    <p><b>Average Age of Adoptable Pets: </b>NO PETS</p>
  <% end %>
</section>
